<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.navigationdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- react-native-camera依赖 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
      android:usesCleartextTraffic='true'
      android:requestLegacyExternalStorage="true"
      android:name=".MainApplication"
      android:label="学习一点通_1.7"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="学习一点通_1.7"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan"  
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
        <!--        <activity android:name="callvideo.VideoCallingActivity_before" />-->
<!--        <activity android:name="com.navigationdemo.VideoCallingEnterActivity" />-->
        <activity android:name="com.navigationdemo.LaunchActivity"
            android:screenOrientation="landscape"
            android:requestLegacyExternalStorage="true"/>
        <activity android:name="com.navigationdemo.EntranceActivity"/>
    </application>
</manifest>
